img {
    display: block;
    max-width: 100%;
}

body{
    list-style: none;
    margin: 10px;
}

/*--------------------menu---------------------*/

.menu{
    background-color: #2abbb5;
}

/*-------------------barra--------------------*/

.barra{
    position: relative;
    background: #2abbb5; 
}

/*-------------------banner-------------------*/

.banner{
    position: relative;
    z-index: -10;
    margin-top: -6px;
}

.banner .fondito{
    position: absolute;
    margin-top: -60px;
    z-index: -1
}


/*----------------barramedia-----------------*/

.barramedia{
    position: relative;
    margin-top: -30px;
}